<div style="background: #fafafa;">
	<div class="container" style="max-width: 920px!important;background: #fafafa;">
		<a href="/"><button class="" style="float: right;    border: solid 1px #00ab6b;border-radius: 20px;
		color: #1c9963;background-color: transparent;padding: 10px 20px;margin-top: 15px;">Finish</button></a>
		<a href="/get_started/avatar"><button class="" style="float: right;    border: solid 1px #dbdbdb;border-radius: 20px;
		color: #dbdbdb;background-color: transparent;padding: 10px 20px;margin: 15px 15px 0 0;">Back</button></a>

		<div class="" style="letter-spacing: 0;font-weight: 400;font-style: normal; margin-top: 15px;
		line-height: 1.1;font-size: 20px;color: rgba(0,0,0,.8);">Welcome to <div style="display: inline-block;font-family: 'Pacifico', cursive;font-size: 25px">YumYum</div> </div>
		<div style="margin-top: 14px">
			<small class="" style="font-size: 15px;margin-bottom: 10px;color: rgba(0,0,0,.44);line-height: 1.6">Sign up
				<span class="" style="">
					<p style="display: inline-block;">
						<svg class="" width="12" height="12" viewBox="0 0 21 21" >
						<path d="M8.3 4.2l6.4 6.3-6.4 6.3-.8-.8 5.5-5.5L7.5 5" fill-rule="evenodd"></path>
					</svg>
					</p>
					
				</span>
			</small>
			<small style="font-size: 15px;color: rgba(0,0,0,.44);">Tell us your interests</small>
			<small style="font-size: 15px;">
				<span>
					<svg width="12" height="12" viewBox="0 0 21 21">
						<path d="M8.3 4.2l6.4 6.3-6.4 6.3-.8-.8 5.5-5.5L7.5 5" fill-rule="evenodd"></path>
					</svg>
				</span>Setup details information
				<svg width="12" height="12" viewBox="0 0 21 21">
						<path d="M8.3 4.2l6.4 6.3-6.4 6.3-.8-.8 5.5-5.5L7.5 5" fill-rule="evenodd"></path>
					</svg>
			</small>

		</div>
	</div>
	
</div>
<div class="container" style="max-width: 920px!important;margin-top: 40px">
	<h1 style="color: rgba(0,0,0,.8);font-size: 24px;line-height: 1.1; margin-bottom: 6px;    font-weight: 700;margin-bottom: 20px"">Setup your avatar</h1>
	<%resource = current_user %>
	<%resource_name = :user %>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

	  	<div style="">
            <span style="position: relative;overflow: hidden;display: inline-block;">
                <img id="myAvatar" src="/assets/add-image.png" style="margin-top: 34px;border: solid 3px #DBDBDB;">
                <%= f.file_field :avatar,id: 'files', style: 'position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: alpha(opacity=0);font-size: 200px;direction: ltr;cursor: pointer;display: block;', onchange: 'readURL(this);' %> 
            </span>
        </div>
        <label style="margin-top: 8px">Pickup your avatar</label>
  <div class="actions">
</div>
  	
<% end %> 
	<script>
          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                $('#myAvatar')
                  .attr('src', e.target.result)
                  .width(60)
                  .height(60);
              };

              reader.readAsDataURL(input.files[0]);
            }
          }
        </script>
	
	<h1 style="color: rgba(0,0,0,.8);font-size: 24px;line-height: 1.1; margin-bottom: 6px;    font-weight: 700;margin-bottom: 20px"">Hey! Someone you know</h1>
	<li style="list-style: none; margin: 20px">
		<div>
			<img src="" style="width: 50px;height: 50px;margin-top: 10px;float: left;text-align: center;">
			<ul style="margin: 20px">
			 	<li style="list-style: none">
					<a href="" style="text-decoration: none;font-family: 'Open Sans', sans-serif;font-weight: 700;font-size: 17px;line-height: 1.7;font-weight: bold;">
						<span>toanmx</span>
					</a>
				</li>
				<li style="list-style: none">
					<span style="font-family: 'Open Sans', sans-serif;color: #6c7a8d">Co-Founder Producer at YumYum</span>
					<button class="btn btn-success uppercase" style="background-color: #6c7a8d; border: 0px;float: right;">Follow</button>
				</li>
				<li style="list-style: none;border-bottom: 1px solid #dbdbdb;padding-bottom: 30px" >
					<span style="font-family: 'Open Sans', sans-serif;">Interests: Seafood, Pizza, Cake</span>
				</li>
			</ul>
		</div>			
	</li>
	<li style="list-style: none; margin: 20px">
		<div>
			<img src="" style="width: 50px;height: 50px;margin-top: 10px;float: left;text-align: center;">
			<ul style="margin: 20px">
			 	<li style="list-style: none">
					<a href="" style="text-decoration: none;font-family: 'Open Sans', sans-serif;font-weight: 700;font-size: 17px;line-height: 1.7;font-weight: bold;">
						<span>toanmx</span>
					</a>
				</li>
				<li style="list-style: none">
					<span style="font-family: 'Open Sans', sans-serif;color: #6c7a8d">Co-Founder Producer at YumYum</span>
					<button class="btn btn-success uppercase" style="background-color: #6c7a8d; border: 0px;float: right;">Follow</button>
				</li>
				<li style="list-style: none;border-bottom: 1px solid #dbdbdb;padding-bottom: 30px" >
					<span style="font-family: 'Open Sans', sans-serif;">Interests: Seafood, Pizza, Cake</span>
				</li>
			</ul>
		</div>			
	</li>
</div>