<div style="background: #fafafa;">
	<div class="container" style="max-width: 920px!important;background: #fafafa;">
		<a href="/"><button class="" style="float: right;    border: solid 1px #00ab6b;border-radius: 20px;
		color: #1c9963;background-color: transparent;padding: 10px 20px;margin-top: 15px;">Finish</button></a>
		<a href="/get_started/avatar"><button class="" style="float: right;    border: solid 1px #dbdbdb;border-radius: 20px;
		color: #dbdbdb;background-color: transparent;padding: 10px 20px;margin: 15px 15px 0 0;">Back</button></a>

		<div class="" style="letter-spacing: 0;font-weight: 400;font-style: normal; margin-top: 15px;
		line-height: 1.1;font-size: 20px;color: rgba(0,0,0,.8);">Welcome to <div style="display: inline-block;font-family: 'Pacifico', cursive;font-size: 25px">YumYum</div> </div>
		<div style="margin-top: 14px">
			<small class="" style="font-size: 15px;margin-bottom: 10px;color: rgba(0,0,0,.44);line-height: 1.6">Sign up
				<span class="" style="">
					<p style="display: inline-block;">
						<svg class="" width="12" height="12" viewBox="0 0 21 21" >
						<path d="M8.3 4.2l6.4 6.3-6.4 6.3-.8-.8 5.5-5.5L7.5 5" fill-rule="evenodd"></path>
					</svg>
					</p>
					
				</span>
			</small>
			<small style="font-size: 15px;color: rgba(0,0,0,.44);">Tell us your interests</small>
			<small style="font-size: 15px;">
				<span>
					<svg width="12" height="12" viewBox="0 0 21 21">
						<path d="M8.3 4.2l6.4 6.3-6.4 6.3-.8-.8 5.5-5.5L7.5 5" fill-rule="evenodd"></path>
					</svg>
				</span>Setup details information
				<svg width="12" height="12" viewBox="0 0 21 21">
						<path d="M8.3 4.2l6.4 6.3-6.4 6.3-.8-.8 5.5-5.5L7.5 5" fill-rule="evenodd"></path>
					</svg>
			</small>

		</div>
	</div>
	
</div>
<div class="container" style="max-width: 920px!important;margin-top: 40px">
	<h1 style="color: rgba(0,0,0,.8);font-size: 24px;line-height: 1.1; margin-bottom: 6px;    font-weight: 700;margin-bottom: 20px"">Setup your avatar</h1>
	<img src="/assets/add-image.png" style="margin-top: 34px"><br>
	<label style="margin-top: 8px">Pickup your avatar</label>
	<h1 style="color: rgba(0,0,0,.8);font-size: 24px;line-height: 1.1; margin-bottom: 6px;    font-weight: 700;margin-bottom: 20px"">Follow someone</h1>
</div>