<%= stylesheet_link_tag 'static_page', media: 'all'%>
<div class="container">

  <div class="row" style="">
    <div class="col-md-12 home">
      <ul>
        <% @data.each do |obj|%>
        <li class="item">
          <a href="<%= %>">
            <img alt="image" style="width: 100%" src="<%= defined? obj.file ? obj.file : ''%>"/>
            <div class="title"><%= obj.title%></div>
          </a>
          <div class="reaction">
            <a href="#">Like(21)</a>&nbsp
            <a href="#">Share</a>
          </div>
        </li>
        <% end%>
      </ul>
    </div>
  </div>
</div>