<%= stylesheet_link_tag 'static_page', media: 'all'%>
<div class="container">



    
    <div class="row" style="">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
              <div class="page-heading">
        <div class="row">
            <% if current_user !=nil%>
                <%= render 'posts/form', post: @post %>
            <% end %>
            <div dir="post-list">
                <% @posts.each do |post| %>
                    <%= render 'posts/post', post: post %>
                <% end %>    
            </div>        
        </div>
    </div>
  </div>
</div>
  </div>
