<%= stylesheet_link_tag 'static_page', media: 'all'%>
<div class="container">



    
    <div class="row" style="">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
              <div class="page-heading">
        <div class="row">
            <% if current_user !=nil%>
                <%= render 'posts/form', post: @post %>
            <% end %>
            <div dir="post-list">
                <% @posts.each do |post| %>
                    <%= render 'posts/post', post: post %>
                <% end %>    
            </div>        
        </div>
    </div>
  </div>
</div>
  </div>

<script type='text/javascript'>
    var input, file;

    // (Can't use `typeof FileReader === "function"` because apparently
    // it comes back as "object" on some browsers. So just see if it's there
    // at all.)
    if (!window.FileReader) {
      bodyAppend("p", "The file API isn't supported on this browser yet.");
    }

    input = document.getElementById('post_file');
    if (!input) {
      bodyAppend("p", "Um, couldn't find the fileinput element.");
    }
    else if (!input.files) {
      bodyAppend("p", "This browser doesn't seem to support the `files` property of file inputs.");
    }
    else if (!input.files[0]) {
      bodyAppend("p", "Please select a file before clicking 'Load'");
    }
    else {
      file = input.files[0];
      bodyAppend("p", "File " + file.name + " is " + file.size + " bytes in size");
    }

</script>
