<%=render 'set_up_process'%>
<div class="set-up-interest" style="margin-top: 40px">
	<div class="container" style="max-width: 920px!important;background-color: #FFF;">
		<h1 style="    color: rgba(0,0,0,.8);font-size: 24px;line-height: 1.1; margin-bottom: 6px;    font-weight: 700;margin-bottom: 20px">Pick some type of food you are interested in</h1>
			<script type="text/javascript">
			$(document).ready(function(){
				$("#cookie").on("click", function(){
				        $("#cookie").toggleClass("is-selected");
				    });
				});
			$(document).ready(function(){
				$("#drink").on("click", function(){
				        $("#drink").toggleClass("is-selected");
				    });
				});
			$(document).ready(function(){
				$("#pizza").on("click", function(){
				        $("#pizza").toggleClass("is-selected");
				    });
				});
			</script>
		<div style="margin: 0;padding: 0" class="form-group">
			<div  class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/xtra_med/2L_YiCLXKVTBGu9LgoelMA.jpg);">
				<button id="cookie" class="tag-button" data-toggle="buttons">
				<span style="">Cookie</span> </button>	
			</div>
			<div   class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/oldImages/xtra_med/1251_1_1438765718.jpg);">
				<button id="drink" class="tag-button" data-toggle="buttons">
				<span style="">Drink</span> </button>	
			</div>
			<div  class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/oldImages/xtra_med/62_36_1429634659.jpg);">
				<button id="pizza" class="tag-button" data-toggle="buttons">
				<span style="">Pizza</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/xtra_med/3YwFx9Ivasz81tvrHOp7b4.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Roast</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/xtra_med/C_ElwWUEKRr9mprhtoNsUZ.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Soup</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/xtra_med/BnGJRBJn4WqAcIfEaD3fK5.jpg);">
				<button class="tag-button" data-toggle="buttons" >
				<span class="tag-span">Vegetable</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/oldImages/xtra_med/1309_1_1436535868.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Curry</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/xtra_med/BN7uFbf_ad7A8QeqJJyVTp.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Bread</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/xtra_med/Dld7Zgqi47t9qE99h-FuMc.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Salad</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/oldImages/xtra_med/690_1_1371117915.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Sandwiches</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/oldImages/xtra_med/1311_13_1438681398.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">BBQ Food</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(http://cdn.jamieoliver.com/recipe-database/xtra_med/1_2Z7b-e4WBAOs15cYpTA7.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Cake & tea</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(//cdn.jamieoliver.com/recipe-database/oldImages/xtra_med/538_1_1436889976.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Pasta bakes</span> </button>	
			</div>

		</div>
	</div>
</div>


