<li id='com' style="text-decoration: none;list-style: none;">
  <a  style=" color: #262626;font-weight: 600;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-left: 5px;margin-left: -5px;font-size: 15px">
  <%= comment.user.user_name %> 
  </a>          
  <span style="font-family: 'Open Sans', sans-serif;"><%=  comment.content %> </span>

</li>