<%= form_for(current_user.active_likes.build, remote: true) do |f| %>
  <%= hidden_field_tag :post_id, post.id %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <button style="background-color: transparent;border: 0px" type="submit">	
	  <img src="/assets/like.png"/>  	
  </button>
<% end %>