<div class="container">
  <% if (@user != nil) %>
  <div class="row"> 
    <div class="col-md-3" >
      <%= render 'profile' %>
    </div>
    <div class="col-md-6">
      <% if current_user == @user %>
        <%= render 'posts/form', post: @post %>
      <% end %>
      <% if @posts.count == 0 %>
      <% end %>
      <hr style="max-width: 725px">
      <div id="postlist">
        <% @posts.each do |post| %>
          <%= render 'posts/post', post: post %>
        <% end %>  
      </div>
      
      </hr style="max-width: 725px">
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
  <% else %>  
    <div class="container" style="text-align: center;">
      <div class="content_error" style="">
        <p>This account doesn't exist</p>
        <a href="">Back</a>    
      </div>
      
    </div>
    
  <% end %>
</div>
