<div class="container">
	<% if @post != nil%>
	<div class="row" style="padding: 0px 0px 0px 80px;margin: 0px">
		<div class="col-sm-8" style="background-color: #1d2129;text-align: center;">
			<img src="<%= @post.file %>" style="max-height: 483px">				
		</div>
		<div class="col-sm-4" >
			
			<hr>
		</div>
	</div>
	<% end %>
</div>