.home ul{

}
.home li{
    float: left;
    list-style-type: none;
}

.home .item{
    width: 23%;
    border: 5px solid #868489;
    border-radius: 4px !important;
    margin: 0 1% 10px 0;
}
.item a{
    display: block;
}
.item img{

}

.item .title{
    border-bottom: 1px solid #868489;
    border-top: 1px solid #868489;
}

.item a:hover{
    background-color: inherit !important;
}

.item a:hover{
    text-decoration: none;
}

.item a:hover img{
    opacity: 0.7;
}

.item .reaction{
    padding: 5px 20px;
}


.home .title{
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    color: black;

}

.reaction a{
    display: inline;
}